
@import "../src/constants";
@import "../src/css-3";
@import "../src/hidden-input";
@import "../src/highlight-all";
@import "../src/icons";
@import "../src/media-queries";
@import "../src/reset";
@import "../src/stretch";
@import "../src/triangle";

.css-3 {
  @include transition(all 300ms ease);
  @include appearance(none);
  @include user-select(none);
  @include border-radius(none);
  @include box-shadow(none);
  @include box-sizing(border-box);
}
.hidden-input {
  @include hidden-input;
}
.stretch {
  @include stretch;
}
.stretch-margin {
  @include stretch-margin(10px 10px 5px 5px);
}
.triangle {
  @include triangle(downright,right,10px,tomato);
}
.reset-front-end {
  @include reset-all(front-end);
}
.reset-back-end {
  @include reset-all(back-end);
}
@media #{$large-desktop} {
  .media-queries {
    color: tomato;
  }
}
@media #{$tablet-and-desktop} {
  .media-queries {
    color: tomato;
  }
}
@media #{$desktop-and-tablet} {
  .media-queries {
    color: tomato;
  }
}
.highlight-all {
  @include highlight-all;
}
$icon-grids: (
  16px: (
    fields: (unchecked, checked)
  ),
  24px: (
    text_editor: (bold, italic, underline, strikethrough, code, file_upload)
  ),
  32px: (
    message: (information, question, warning, error)
  )
);
.icons {
  @include static-icons($icon-grids, false);
}
