/**
 * highlight all elements
 */

@mixin highlight-all {
	$opacity: 0.2;
	* {
		$b: rgba(255,0,0,$opacity);
		background: $b;
		&:before,&:after {
			background: $b;
		}
		* {
			$b: rgba(0,255,0,$opacity);
			background: $b;
			&:before,&:after {
				background: $b;
			}
			* {
				$b: rgba(0,0,255,$opacity);
				background: $b;
				&:before,&:after {
					background: $b;
				}
				* {
					$b: rgba(255,0,255,$opacity);
					background: $b;
					&:before,&:after {
						background: $b;
					}
					* {
					$b: rgba(0,255,255,$opacity);
						background: $b;
						&:before,&:after {
							background: $b;
						}
						* {
							$b: rgba(255,255,0,$opacity);
							background: $b;
							&:before,&:after {
								background: $b;
							}
						}
					}
				}
			}
		}
	}
}
