/**
 * make stylesheets for all static icons,
 * with all parameters defined in the filename:
 * <code>
 *   .icon_16px_control_ordinary_checked,
 *   .icon_16px_control_ordinary_unchecked {}
 * </code>
 * 
 * @param icon-grids      set of icons
 * @param strut           space between icons
 */

@mixin static-icons($icon-grids:(), $strut:true) {

  [class^=icon_] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    /*
     * height: 1px;
     */
    height: 1px;
    
    overflow: visible;
    &:before {
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
    }
  }
  @each $sizes, $groups in $icon-grids {
    @each $size in $sizes {
      [class^=icon_#{$size}] {
        width: $size;
        &:before {
          width: $size;
          height: $size;
          background-image: url(img/icons_#{$size}.png);
          top: 0 - $size / 2;
        }
      }
      $group_counter: 0;
      @each $group, $glyphs in $groups {
        $group_counter: $group_counter + 1;
        $adjusted_group_counter: $group_counter * 2 - 1;
        $glyph_counter: 0;
        @each $glyph in $glyphs {
          $glyph_counter: $glyph_counter + 1;
          $adjusted_glyph_counter: $glyph_counter - 1;
          @if $strut == true {
            .icon_#{$size}_#{$group}_#{$glyph} {
              &:before {
                background-position: (0 - $size - $size * $adjusted_glyph_counter * 2) (0 - $size * $adjusted_group_counter);
              }
            }
          }
          @else {
            .icon_#{$size}_#{$group}_#{$glyph} {
              &:before {
                background-position: ($size - $size * $glyph_counter) ($size - $size * $group_counter);
              }
            }
          }
        }
      }
    }
  }
}

/**
 * mixin for extracting icon coordinates
 * 
 * @param icon-grids      set of icons
 * @param strut           space between icons
 * @param size            icon size
 * @param group           icon group
 * @param glyph           glyph name
 */

@mixin icon-background-position($icon-grids, $strut, $size, $group, $glyph) {
  @each $sizes, $groups in $icon-grids {
    @each $_size_ in $sizes {
      @if $_size_ == $size {
        $group_counter: 0;
        @each $_group_, $glyphs in $groups {
          $group_counter: $group_counter + 1;
          $adjusted_group_counter: $group_counter * 2 - 1;
          @if $_group_ == $group {
            $glyph_counter: 0;
            @each $_glyph_ in $glyphs {
              $glyph_counter: $glyph_counter + 1;
              $adjusted_glyph_counter: $glyph_counter - 1;
              @if $_glyph_ == $glyph {
                @if $strut == true {
                  background-position: (0 - $size - $adjusted_glyph_counter * $size * 2) (0 - $size * $adjusted_group_counter);
                }
                @else {
                  background-position: ($size - $size * $glyph_counter) ($size - $size * $group_counter);
                }
              }
            }
          }
        }
      }
    }
  }
}
