/**
 * media queries
 */

$desktop: 'only screen and (min-width: 980px)';
$large-desktop: 'only screen and (min-width: 1300px)';
$tablet-and-desktop: 'only screen and (min-width: 661px)';
$mobile-and-tablet: 'only screen and (max-width: 979px)';
$mobile: 'only screen and (max-width: 660px)';

$desktop-and-tablet: $tablet-and-desktop;
$tablet-and-mobile: $mobile-and-tablet;
