/**
 * reset, usage example: <code>@include reset-all(front-end)</code>
 */

@mixin reset-all($end-result) {
	$list: null;
	@if $end-result == front-end {
		$list: '*', front-end-body, img, p, a, button, label, textarea;
	}
	@else if $end-result == back-end {
		$list: '*', back-end-body, img, p, a, button, label, textarea;
	}
	@include reset($list);
}

@mixin reset($list) {
	@each $e in $list {
		@if $e == '*' {
			* {
				@include box-sizing(border-box);
				&:before,
				&:after {
					@include box-sizing(border-box);
				}
			}
		}
		@else if $e == front-end-body {
			body {
				font-family: sans-serif;
				font-weight: normal;
				margin: 0;
				padding: 0;
				text-align: center;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}
		@else if $e == back-end-body {
			body {
				font-family: sans-serif;
				font-weight: normal;
				@include stretch-margin(0);
				padding: 0;
				overflow: hidden;
				z-index: 99;
			}
		}
		@else if $e == img {
			img {
				display: inline-block;
				vertical-align: top;
				max-width: 100%;
				margin: 0;
				padding: 0;
			}
		}
		@else if $e == p {
			p {
				margin: 0;
				padding: 0;
			}
		}
		@else if $e == a {
			a {
				display: inline-block;
				vertical-align: top;
				text-decoration: none;
				outline: none;
			}
		}
		@else if $e == button {
			button {
				display: inline-block;
				vertical-align: top;
				outline: none;
				margin: 0;
				padding: 0;
				&::-moz-focus-inner {
					border: 0;
					padding: 0;
				}
				background: none;
				cursor: pointer;
				border: none;
				overflow: visible;
				@include user-select(none);
				&:disabled {
					cursor: default;
				}
			}
		}
		@else if $e == label {
			label {
				display: inline-block;
				vertical-align: top;
			}
		}
		@else if $e == textarea {
			textarea {
				display: block;
				outline: none;
				margin: 0;
				padding: 0;
				width: 100%;
				resize: none;
				background: none;
				overflow: hidden;
				border: 1px solid transparent;
			}
		}
	}
}
