/**
 * simple stretch container
 */

@mixin stretch {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/**
 * stretch container with margins,
 * example usage:
 * <code>@include stretch-margin(auto)</code>
 * <code>@include stretch-margin(5px)</code>
 * <code>@include stretch-margin(5px 10px)</code>
 */
 
@mixin stretch-margin($margin:auto) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: $margin;
}

/**
 * stretch pseudo element
 */

@mixin stretch-pseudo-element {
  content: "";
  display: block;
  @include stretch;
}

@mixin stretch-margin-pseudo-element($margin:auto) {
  content: "";
  display: block;
  @include stretch-margin($margin:auto);
}
